.error
{
    border: 2px solid SandyBrown;
    border-radius: 5px;
    background-color: LightSalmon;
}

#errorPass
{
  color: red;
  visibility: hidden;
}

.cont-opt
{
  display: flex;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}

.cont-block
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0288D1;
}

.cont-block-max
{
  display: flex;
  height: 90%;
  flex-direction: column;
}

.stats-opt
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid CadetBlue;
  border-radius: 5px;
  width: 90%;
  height: 65%;
  padding: 20px;
  text-decoration: none;
  color: #0288D1;
  transition: all 1s;
  box-shadow: 10px 15px 55px grey;
}

.users-list
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid CadetBlue;
  border-radius: 5px;
  width: 90%;
  margin-left: 3%;
  height: 65%;
  padding: 20px;
  text-decoration: none;
  color: #0288D1;
  box-shadow: 6px 9px 9px grey;
  overflow-x: scroll;
}
.users-list label
{
  margin-right: 15px;
  margin-bottom: 3px;
  font-size: 1.5em;
}

.unsub-user,
.stats-opt
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid CadetBlue;
  border-radius: 5px;
  width: 30%;
  height: 65%;
  padding: 20px;
  text-decoration: none;
  color: #0288D1;
  transition: all 1s;
  box-shadow: 10px 15px 55px gray;
}

.stats-opt img
{
  height: 220px;
  width: 200px;
}

.unsub-user img
{
  height: 220px;
  width: 200px;
}

.unsub-user:hover,
.stats-opt:hover
{
  box-shadow: 10px 19px 135px CornflowerBlue   ;
}
