/* Ocultando botones de iniciar sesión y crear cuenta */
.buttons
{
  display: none;
}
/* Mostrando boton de cerrar sesión */
.button-logout
{
  display: block;
}
/* Cambiando el display para que se muestre en el centro */
.middle
{
  display: flex;
  justify-content: center;
}
/* Generales */
label,
span,
button
{
  flex-basis: auto;
}
/* Section donde va el contenido de "Ganaste" */
section
{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  height: 80%;
  margin-top: 15px;
  border: 2px solid #FFFFFF;
}
/* Reglas del div que contiene al span con la leyenda "¡Tu equipo ha ganado!" */
.header-you-won
{
  flex-basis: 100%;
  display: flex;
  height: 15%;

}

.header-you-won span
{
  flex-basis: 100%;
  color: #FFFFFF;
  background-color: #53ae85;
  font-size: 35px;
  padding: 1px;

}
/* Reglas del div donde se encuentran los label, input y button */
.div-score
{
  flex-basis: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#score,
#time,
#button-play-again
{
  margin: 4px 4px 0 4px;
}

#button-play-again
{
  margin-top: 45%;
  font-weight: bold;
  font-size: 20px;
}

#button-play-again:hover
{
  background-color: #53ae85;
}
/* Reglas para el div donde se encuentra la imagen */
.div-score-img
{
  flex-basis: 45%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#score-img
{
  border-radius: 0;
  opacity: 1;
  width: 120%;
  height: 100%;
  margin-right: 2px;
}

/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Estilo para vista de partida perdida ♦ ♦ ♦ ♦ ♦ ♦ ♦  */
.cont-you-lose
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  flex-basis: 50%;
  justify-content: space-around;
  border: 2px solid #FFFFFF;
  height: 80%;
}

.header-you-lose
{
  flex-basis: 100%;
  display: flex;
  height: 15%;

}

.header-you-lose span
{
  flex-basis: 100%;
  color: #FFFFFF;
  background-color: #D94546;
  font-size: 35px;
  padding: 1px;

}
.div-you-lose-img img
{
  width: 100%;
  opacity: 1;
  border-radius: 0;

}
.div-you-lose-img
{
  flex-basis: 45%;
  height: 80%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Estilos para vista partida perdida ♦ ♦ ♦ ♦ ♦ ♦ ♦ */

/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
.wfor-players
{
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#img-waiting
{
  width: 50%;
  opacity: 1;
  border-radius: 0;
  margin-top: 10%;
}
.waiting-for-players
{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-players
{
  flex-basis: 40%;
  margin-top: 3%;
}
.waiting-for-players span
{
  font-size: 2em;
  text-align: center;
}
.cont-players span
{
  font-size: 1.5em;
  text-align: center;
}
.list-of-players
{
  margin-top: 2%;
}
.list-of-players input
{
  width: 100%;
  height: 180px;
  background-color: #A8E8CD;
  border-radius: 10px;
  align-items: flex-end;
}
#button-start
{
  margin-top: 10px;
  width: 50%;
  font-size: 20px;
}
/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
.middle-video
{
  justify-content: center;
  align-items: center;
}
.cont-video
{
  flex-basis: 60%;
  height: 80%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.video
{
  flex-basis: 100%;
  height: 80%;
  display: flex;
}
.cont-start-game-button
{
  flex-basis: 40%;
  display: flex;
}
video
{
  flex-basis: 100%;
}
.cont-start-game-button .button-start
{
  flex-basis: 100%;
  font-size: 25px;
  margin-top: 0;
}

.button-start:hover
{
  background-color: #53ae85;
}
.buttons-video
{
  display: block;
}
.button-logout-video
{
  display: none;
}
/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
/* Media Queries */
@media only screen and (max-width: 575px)
{
  .div-score-img
  {
    display: none;
  }
  section
  {
    flex-basis: 50%;
    margin-top: 50px;
    height: 50%;
  }
  .header-you-won span
  {
    font-size: 25px;
  }
/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ partida perdida ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
  .div-you-lose-img
  {
    display: none;
  }
  .cont-you-lose
  {
    height: 50%;
    margin-top: 50px;
  }
  /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ fin de estilo partida perdida ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
  /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
  .wfor-players
  {
    flex-direction: column;
    justify-content: flex-start;
  }
  .list-of-players
  {
    margin-top: 0;
  }
  #button-start
  {
    margin-top: 10px;
    width: 60%;
    font-size: 18px;
  }
  #img-waiting
  {
    width: 50%;
    opacity: 1;
    border-radius: 0;
    margin-top: 10%;
  }

  footer a
  {
    padding: 4px 0;
    margin: 0;
  }
    /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
    /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
    .video
    {
      height: 75%;
    }
    .cont-video
    {
      flex-basis: 80%;
      height: 60%;
    }
    .cont-start-game-button .button-start
    {
      font-size: 20px;
    }
    /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
  .header-you-won span
  {
    font-size: 30px;
  }
  label,
  input,
  #button-play-again
  {
    width: 80%;
  }

  #button-play-again
  {
    margin-top: 28%;
  }
  section
  {
    justify-content: center;
    height: 70%
  }
  #score-img
  {
    width: 100%;
    height: 80%;
    align-self: flex-start;
  }
  /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
  #button-start
  {
    margin-top: 10px;
    width: 60%;
    font-size: 18px;
  }
  #img-waiting
  {
    width: 70%;
    opacity: 1;
    border-radius: 0;
    margin-top: 10%;
  }
    /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Estilo esperando jugadores ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
    /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
  .cont-start-game-button .button-start
  {
    font-size: 20px;
  }
  /* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Fin Video como jugar ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
}
@media only screen and (min-width: 768px) and (max-width: 1000px)
{
  label,
  input,
  #button-play-again
  {
    width: 90%;
  }
  section
  {
    justify-content: center;
  }
  #score-img
  {
    width: 100%;
    height: 80%;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1001px)
{
  #score-img
  {
    width: 110%;
    height: 100%;
    align-self: flex-start;
  }
}


/* ► ► ► ► ► ► ► ► ► ► INICIO DEL ESTILO VISTA DE PERFIL*/
#profile-default
{
  width: 60%;
  height: 50%;
  opacity: 1;
  border-radius: 50;
  margin-top: 5%;
}

.data-prof
{

  flex-basis: 40%;
  margin-top: 3%;
}

.actual-data-user
{
  margin-top: 2%;
}
.actual-data-user input
{
  width: 100%;
  height: 180px;
  background-color: #EBEBEB;;
  border-radius: 5px;
  align-items: flex-end;
  overflow: auto;
}
#modify-profile, #back-to
{
  margin-top: 10px;
  width: 40%;
  font-size: .9em;
  margin-left: 20px;
}

/* Estilo de grafica de vista de admin */

.con-graph
{
  flex-basis: 40%;
  margin-top: 3%;
}

.con-graph span
{
  font-weight: bolder;
  margin-left: 0;
}

.grafica-container
{
  width: 100%;
  height: 180px;
  background-color: #A8E8CD;
  border-radius: 10px;
  align-items: flex-end;
}

#finish-graph
{
  margin-top: 10px;
  width: 40%;
  font-size: 20px;
}

.con-graph input
{
  margin-bottom: 20px;
}


/* Inicio vista de me gusta en facebook */

.me-gusta
{
  flex-basis: 30%;
  display: flex;
  height: 70%;

}

.fb-like
{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.fb-like span
{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

#logo-brazo
{
  border-radius: 50%;
  width: 6em;
  margin-top: 30px;
  margin-bottom: 20px;
}

#ir-fb
{
  background-color: #7290A8;
  color: white;
  padding: 5px;
  font-size: 1.5em;
  width: 2em;
}
/* ++++++++++++estilos para cuando se encuentra la sesion iniciada ++++++++++++++ */

.admin-view input
{
  width: 100px;
}

#play-now
{
  background-color: #7290A8;
  color: white;
  padding: 5px;
  font-size: 1.5em;
  width: 5em;
}

#lets-play
{
  width: 14em;
  border-radius: 13px;
  margin-bottom: 10px;
}


/* **************Style for the contact ************* */

.div-back
{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #EBEBEB;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #CBC9C9;
}

.cont-contact
{
  flex-basis: 30%;
  display: flex;
  height: 70%;
}

.div-back span
{
  font-weight: bold;
  margin-top: 10px;
  text-indent: 3px;
  margin-bottom: 10 px;
}

.div-back img
{
  width: 80px;
  border-radius: 0;
}
/* ◄ ◄ ◄ ◄ ◄ ◄ ◄ ◄ ◄ ◄ */
