body
{
  display: flex;
  flex-wrap: wrap;
}
/*----- Estilo Header -----*/
header
{
  background-color: #7290A8;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

h1
{
  border: 1px solid black;
  display: inline-block;
  margin-left: 3%;
}

.div-header
{
  display: flex;
  flex-basis: 25%;
  align-items: center;
  border: 1px solid black;
  justify-content: space-around;
}

.div-header a
{
  flex-basis: 30%;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  padding: 4% 8%;
}



/*----- Estilo Aside -----*/
aside
{
  flex-basis: 24%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

aside a
{
  width: 80%;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 10%;
}

/*----- Estilo Footer -----*/
footer
{
  border: 1px solid black;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

footer a
{
  margin: 2%;
}


section
{
  flex-basis: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
