.main-cont-game
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  background-size: cover;
  min-height: 700px;
}

.cont-game
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  background: linear-gradient(130deg, #1bbcb2 50%, #37b9e9);
}

.game-area
{
  width: 770px;
  height: 470px;
  background-color: #FFFFFF;
}
.buttons-game
{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  width: 790px;
  height: 50px;
}
