/*General start */
*
{
  margin: 0px;
  padding: 0px;
}

html,
body
{
  height: 100%;
  margin: 0;
  padding: 0;
}
body
{
  height: 100%;
}

header
{
  display: flex;
  justify-content: space-between;
  height: 75.5px;
  background: linear-gradient(130deg, #1bbcb2, #37b9e9);
}

header > a
{
  display: flex;
  justify-content: flex-start;
  width: 380px;
  text-decoration: none;
}

header a p
{
  display: inline;
  align-self: center;
  width: 260px;
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

/* menu desplegable start */
.cont-arrow
{
  width: 200px;
  height: 30px;
  margin-right: 20px;
  align-self: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cont-arrow ul
{
  list-style: none;
}

.father-list img
{
  width: 30px;
  height: 30px;
}

.father-list
{
  width: 200px;
  position: absolute;

  display: flex;
  justify-content: flex-end;
}

.child-list
{
  display: block;
  position: absolute;
  left: 0;
  right: 0;

  overflow: hidden;
  height: 0%;
  transition: all .25s ease;
}

.cont-arrow > ul li a
{
  display: block;
  padding: 10px 15px;
  background: #EEEEEE;
  color: #1F2E2E;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.child-list li a:hover
{
  background-color: #1bbcb2;
}

.father-list > li:hover > .child-list
{
  height: 120px;
}
/* menu desplegable end */

footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75.5px;
  background-color: #1f2e2e;

}

footer a
{
  text-decoration: none;
  color: #EEEEEE;
  width: auto;
}

#logo_img
{
  margin-left: 10px;
  width: 20%;
  height: 90%;
  opacity: 0.8;
  /* border-radius: 50%; */
  margin-top: 3px;
}

<<<<<<< HEAD
=======
.middle-admin,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
.main_cont
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  background-size: cover;
  height: 90%;
}

<<<<<<< HEAD
=======
.cont-sign-adm,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
.cont-signin,
.cont-signup
{
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid #01579B;
  border-radius: 15px;
  flex-basis: 460px;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
<<<<<<< HEAD
=======
  box-shadow: 10px 15px 55px gray;
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
}

#e-mail,
#username,
#password,
#repeat_password
{
  width: 320px;
  margin-top: 20px;
  padding: 10px;
}

#signin,
#signup
{
  width: 300px;
  margin-top: 50px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #01579B;
  font-weight: bold;
  transition: all .25s ease-in-out;
  border-radius: 5px;
}

#e-mail:focus,
#username:focus,
#password:focus,
#repeat_password:focus
{
  border-color: #00B0FF;
}

#signin:hover,
#signup:hover
{
  /* background-color: #01579B; */
  /* width: 270px; */
  transform: scale(1.15);
  box-shadow: 0px 10px 15px gray;
  background-color: #66BB6A;
}

#label_signup,
#label_signin
{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #00B0FF;
}

<<<<<<< HEAD
.main-cube-cont
=======
.main-cube-cont,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
{
  display: flex;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}
.cube-cont
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  padding: 5px;
  text-decoration: none;
  color: #0288D1;
  transition: all 1s;
  font-size: 13px;
}

.cube-cont:hover
{
  transform: scale(1.15);
}

<<<<<<< HEAD
=======
@media only screen and (min-width: 1202px) and (max-width: 1800px)
{
  #errorPass
  {
    margin-left: 5%;
    margin-top: 3px;

  }
  #resp
  {
    margin-left: 25%;
    margin-right: 25%;
  }
  .cont-opt h3,
  .cont-block h2
  {
    font-size: 1.8em;
  }
}

>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
.cube-cont img
{
  width: 130px;
  height: 130px;
}

/* load-game start */
.main-load-cube
{
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.load-cube
{
  width: 70%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(130deg, #1bbcb2, #37b9e9);
  margin: 30px;
}

.load-player
{
  display: flex;
  align-items: center;
  width: 80%;
  height: 50px;
  background-color: #F5F5F5;
  margin-top: 40px;
  margin-bottom: 40px;
}

.load-player p
{
  font-size: 30px;
  margin: 5px;
}

.loader-cube
{
  border-radius: 10px;
  width: 30%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
  /* border: 2px solid black; */
}

.loader1
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top: 3px solid #FF3333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2.5s linear infinite;
}

.loader2
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top: 3px solid #1BBCB2;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  animation: spin 2.5s linear infinite;
}

.loader3
{
  border: 3px solid white;
  border-top: 3px solid #37B9E9;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin
{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/* load-game end */

@media only screen and (min-width: 993px) and (max-width: 1200px)
{
  /* index start */
  .cube-cont
  {
    margin: 20px;
    width: 160px;
    height: 160px;
  }

  .cube-cont:hover
  {
    transform: scale(1.11);
  }

  .cube-cont img
  {
    width: 110px;
    height: 110px;
  }
<<<<<<< HEAD
  /* index end */
=======

  .unsub-user,
  .stats-opt h3
  {
    margin: 20px;
  }

  #errorPass
  {
    margin-left: 5%;
    margin-top: 3px;
  }
  #resp
  {
    margin-left: 25%;
    margin-right: 25%;
  }
  .cont-opt h3,
  .cont-block h2
  {
    font-size: 1.8em;
  }

>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
<<<<<<< HEAD
  /* signin and signup start */
=======
  .cont-sign-adm,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  .cont-signin,
  .cont-signup
  {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 560px;
  }

  #e-mail,
  #username,
  #password,
  #repeat_password
  {
    width: 520px;
  }

  #signin,
  #signup
  {
    width: 500px;
  }
  /* signin and signup end */

<<<<<<< HEAD
  /* index start */
  .main-cube-cont
=======
  .main-cube-cont,
  .cont-opt,
  .cont-block
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

<<<<<<< HEAD
  .cube-cont
=======
    .cube-cont
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  {
    margin: 20px;
    width: 200px;
    height: 200px;
  }

  .cube-cont:hover
  {
    transform: scale(1.1);
  }

  .cube-cont img
  {
    width: 150px;
    height: 150px;
  }
  /* index end */

  /* load-game start */
  .loader1
  {
    width: 90px;
    height: 90px;
  }

  .loader2
  {
    width: 85px;
    height: 85px;
  }

  .loader3
  {
    width: 80px;
    height: 80px;
  }
  /* load-game end */
<<<<<<< HEAD
=======


  .cont-opt h3,
  .cont-block h2
  {
    font-size: 2em;
  }

  .users-list label
  {
    font-size: 50em;
  }
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
}

@media only screen and (min-width: 575px) and (max-width: 768px)
{
  /* signin and signup start */
<<<<<<< HEAD
=======
  .cont-sign-adm,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  .cont-signin,
  .cont-signup
  {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 360px;
  }

  #e-mail,
  #username,
  #password,
  #repeat_password
  {
    width: 320px;
  }

  #signin,
  #signup
  {
    width: 300px;
  }
  /* signin and signup end */

<<<<<<< HEAD
  /* index start */
  .main-cube-cont
=======
  .main-cube-cont,
  .cont-opt,
  .cont-block
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .cube-cont
  {
    margin: 20px;
    width: 200px;
    height: 200px;
  }

  .cube-cont:hover
  {
    transform: scale(1.1);
  }

  .cube-cont:first-of-type
  {
    /* margin-left: 10px; */
  }

  .cube-cont img
  {
    width: 150px;
    height: 150px;
  }
  /* index start end */

  /* load-game start */
  .main-load-cube
  {
    flex-wrap: wrap;
  }

<<<<<<< HEAD
  .load-cube
=======
    .load-cube
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  {
    width: 85%;
  }

  .load-player
  {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .loader-cube
  {
    width: 50%;
  }

  .loader1
  {
    width: 90px;
    height: 90px;
  }

  .loader2
  {
    width: 85px;
    height: 85px;
  }

  .loader3
  {
    width: 80px;
    height: 80px;
  }
  /* load-game end */
<<<<<<< HEAD
=======

  .cont-opt h3,
  .cont-block h2
  {
    font-size: 1.8em;
  }
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
}

@media only screen and (min-width: 350px) and (max-width: 575px)
{
<<<<<<< HEAD
  /* signin and signup start */
=======
  .cont-sign-adm,
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  .cont-signin,
  .cont-signup
  {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 220px;
    padding: 40px;
  }

  #e-mail,
  #username,
  #password,
  #repeat_password
  {
    width: 200px;
  }

  #signin,
  #signup
  {
    width: 180px;
  }
  /* signin and signup end */

  /* index start */
  .main-cube-cont
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .cube-cont
  {
    margin: 20px;
    width: 200px;
    height: 200px;
  }

  .cube-cont:hover
  {
    transform: scale(1.1);
  }

  .cube-cont img
  {
    width: 150px;
    height: 150px;
  }
  /* index end */

  /* General start */
  footer
  {
    text-align: center;
    flex-wrap: wrap;
    height: 150px;
  }

  footer a
  {
    width: 400px;
  }
<<<<<<< HEAD
  /* General end */
=======

    /* General end */
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5

  /* load-game start */
  .main-load-cube
  {
    flex-wrap: wrap;
  }

  .load-cube
  {
    width: 85%;
  }

  .load-player
  {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .load-player p
  {
    /* editar */
    font-size: 20px;
  }

  .loader-cube
  {
    width: 50%;
  }

  .loader1
  {
    width: 90px;
    height: 90px;
  }

  .loader2
  {
    width: 85px;
    height: 85px;
  }

  .loader3
  {
    width: 80px;
    height: 80px;
  }
  /* load-game end */
}

@media only screen and (max-width: 350px)
{
<<<<<<< HEAD
  /* signin and signup start */
=======

  .cont-sign-adm, /*turururu*/
>>>>>>> a5e674b2c391e1c9fd7a5924d7570542087701b5
  .cont-signin,
  .cont-signup
  {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 160px;
    padding: 40px;
  }

  #e-mail,
  #username,
  #password,
  #repeat_password
  {
    width: 180px;
  }

  #signin,
  #signup
  {
    width: 160px;
  }
  /* signin and signup end */

  /* index start */
  .main-cube-cont
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .cube-cont
  {
    margin: 20px;
    width: 180px;
    height: 180px;
  }

  .cube-cont:hover
  {
    transform: scale(1.1);
  }

  .cube-cont img
  {
    width: 130px;
    height: 130px;
  }
  /* index end */

  /* General start */
  footer
  {
    text-align: center;
    flex-wrap: wrap;
    height: 150px;
  }

  footer a
  {
    width: 400px;
  }
  /* General end */

  /* load-game start */
  .main-load-cube
  {
    flex-wrap: wrap;
  }

  .load-cube
  {
    width: 85%;
  }

  .load-player
  {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .load-player p
  {
    /* editar */
    font-size: 20px;
  }

  .loader-cube
  {
    width: 50%;
  }

  .loader1
  {
    width: 70px;
    height: 70px;
  }

  .loader2
  {
    width: 65px;
    height: 65px;
  }

  .loader3
  {
    width: 60px;
    height: 60px;
  }
  /* load-game end */
}
