/* Ocultando botones de iniciar sesión y crear cuenta */
.buttons
{
  display: none;
}
/* Mostrando boton de cerrar sesión */
.button-logout
{
  display: block;
}
/* Cambiando el display para que se muestre en el centro */
.middle
{
  display: flex;
  justify-content: center;
}
/* Generales */
label,
span,
button
{
  flex-basis: auto;
}
/* Section donde va el contenido de "Ganaste" */
section
{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  height: 80%;
  margin-top: 15px;
  border: 2px solid #FFFFFF;
}
/* Reglas del div que contiene al span con la leyenda "¡Tu equipo ha ganado!" */
.header-you-won
{
  flex-basis: 100%;
  display: flex;
  height: 15%;

}

.header-you-won span
{
  flex-basis: 100%;
  color: #FFFFFF;
  background-color: #53ae85;
  font-size: 35px;
  padding: 1px;

}
/* Reglas del div donde se encuentran los label, input y button */
.div-score
{
  flex-basis: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#score,
#time,
#button-play-again
{
  margin: 4px 4px 0 4px;
}

#button-play-again
{
  margin-top: 45%;
  font-weight: bold;
  font-size: 20px;
}

#button-play-again:hover
{
  background-color: #53ae85;
}
/* Reglas para el div donde se encuentra la imagen */
.div-score-img
{
  flex-basis: 45%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#score-img
{
  border-radius: 0;
  opacity: 1;
  width: 120%;
  height: 100%;
  margin-right: 2px;
}
/* Media Queries */
@media only screen and (max-width: 575px)
{
  .div-score-img
  {
    display: none;
  }
  section
  {
    flex-basis: 50%;
    margin-top: 50px;
    height: 50%;
  }
  .header-you-won span
  {
    font-size: 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px)
{
  .header-you-won span
  {
    font-size: 30px;
  }
  label,
  input,
  #button-play-again
  {
    width: 80%;
  }

  #button-play-again
  {
    margin-top: 28%;
  }
  section
  {
    justify-content: center;
    height: 70%
  }
  #score-img
  {
    width: 100%;
    height: 80%;
    align-self: flex-start;
  }
}
.All-Teams{
  justify-content: center;
  padding: 1em;
  font-family: monospace;
}
table caption{
  font-weight: bolder;
  font-size: 1.5em;

}
table {
  justify-content:center;
  border-spacing: 10px;
  background: #7290A8;
  border-radius: 5px

}
table span{
  display: block;
  text-align: center;
}

td{
  text-align: center;
  border-spacing: 5px;
}
th{
  border-radius: 5px;
  background-color: gray;
  color: white;


}
@media only screen and (min-width: 768px) and (max-width: 1000px)
{
  label,
  input,
  #button-play-again
  {
    width: 90%;
  }
  section
  {
    justify-content: center;
  }
  #score-img
  {
    width: 100%;
    height: 80%;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1001px)
{
  #score-img
  {
    width: 110%;
    height: 100%;
    align-self: flex-start;
  }
}
