/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Error 404 ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
.buttons
{
  display: none;
}
.middle
{
  justify-content: center;
  align-items: center;
}
.cont
{
  flex-basis: 80%;
}
.div-title,
.div-p
{
  flex-basis: 100%;
}

.div-title span
{
  font-size: 3em;
}

.div-p p
{
  font-size: 2em;
}
p a
{
  color: #6ADCDD;
  font-weight: bold;
}

footer
{
  display: none;
}

/* ♦ ♦ ♦ ♦ ♦ ♦ ♦ Terminos y Condiciones ♦ ♦ ♦ ♦ ♦ ♦ ♦ */
#footer-relative
{
  position: static;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  background-color: transparent;
  border-top: 2px solid #586069;
  text-align: center;
}
.terms span
{
  font-size: 1.5em;
}

.terms span,
.terms p,
li
{
  text-align: justify;
}
.no-heights
{
  height: auto;
  padding-bottom: 0;

}
.but-logout-block
{
  display: block;
}

/* ########## INICIO ABOUT US ####### */
.description span
{
  font-size: 1.5em;
}

.descriptionspan,
.description p,
li
{
  text-align: justify;
}

/* ########## FIN ABOUT US ####### */

@media only screen and (max-width: 575px)
{
  #footer-relative a
  {
    margin: 0;
    padding: 0;
  }
}
