body
{
  display: flex;
  flex-wrap: wrap;
}
/*----- Estilo Header -----*/
header
{
  background-color: #7290A8;
  flex-basis: 100%;
}

h1
{
  border: 1px solid black;
  display: inline-block;
}
.div-header span
{
  border: 1px solid black;
}

.div-header
{
  display: flex;
  justify-content: flex-end;
}
/*----- Estilo Aside -----*/
aside
{
  flex-basis: 24%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

aside a
{
  width: 80%;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 10%;
}

/* aside span
{
  border: 1px solid black;
  padding: 10%;
} */

/* Estilo Footer */
footer
{
  border: 1px solid black;
}
section
{
  flex-basis: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
