body
{
 /* display: flex;
 flex-wrap: wrap; */
 /* font-family: 'Headland One', serif; */
 font-size: 1.5em;
 color: green;

}

/*----- Estilo Header -----*/
header
{
 padding: 1.1rem;
 background-color: #7290A8;
 flex-basis: 100%;
 display: flex;
}



img
{
   border-radius: 50%;
   opacity: 0.8;
   width: 25%;
   margin: 0;
}


.title a
{
   color: black;
   font-family: 'Monoton', cursive;
}

.div-header
{
 display: flex;
 /* flex-basis: 30%; */
 /* align-items: center; */
 border: 1px solid black;
 /* justify-content: space-around; */
 padding: 0;
 margin-top: 1.5%;
}
button
{
   font-size: .5em;
   background-color: #aaaaaa;
   padding: 8px;
   border-radius: 8px;
   border: 2px solid black;
}

.div-header a
{
 flex-basis: 45%;
 text-align: center;
 text-decoration: none;
 border: 1px solid black;

 /* font-style: italic; */

 padding: 4% 5%;
 margin: 3%;
 font-weight: bold;
 /* box-sizing: content-box; */
}

header div a:hover
{
 text-decoration: none;
 font-size: 1.5em;
 font-weight:bolder;
 color: #

}
header.container
{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}



/*----- Estilo Aside -----*/
aside
{
  flex-basis: 20%;
  border: 1px solid black;
  display: flex;
  border: 0;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  background-color: #7290A8;
  height: 450px;
}
html,
body
{
  height: 100%;
}
aside a
{
  width: 80%;
  margin: 5%;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  padding: 5%;
  height: 30px;
  align-items: center;
  /* box-sizing: content-box; */
  /* sobre escribo la propiedad box-sizing: border-box
  que toma en cuenta el padding y el border y modifica
  el width (el espacio raro que se veia entre la
    etiqueta a y el aside) */
}

aside a:hover
{
  text-decoration: none;
  font-size: 1em;
  font-weight:bolder;
}

footer a:hover
{
  text-decoration: none;
  color:#4E7AB2;
  font-weight:bold;
}

/*----- Estilo Footer -----*/
footer a
{
  padding: 2em;
  color: #586069;
  font-size: .8em;
}
footer
{
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  /* position: absolute */
  /* right: 0;
  bottom: 0;
  left: 0; */ */
  padding: 2em;
  background-color: transparent;
  border-top: 4px solid #586069;
  text-align: center;

}

/* @media (max-width: 1024px) {
  footer
  {

    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #7290A8;
    text-align: center;

  }
} */

.main-container
{
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
}

a
{

 text-decoration: none;
 color: white;
}
/*seccion donde va el contenido al centro  */

.central
{
  display: flex;
  flex-basis: 78%;
  height: 450px;
  /* border: 1px solid black;
  border: 0; */

}

.middle
{
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
